* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.contain {
  margin: 0 auto;
  max-width: 1323px;
  padding: 0 15px;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Readex Pro", sans-serif;
}

input{
  border: none;
  outline: none;
}

